.task {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom : 10px;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.task:hover {
    box-shadow: 0 0 15px #cbcbcb;
}

.date {
    float: right;
    font-size: 11px;
}

.group {
    margin-bottom: 5px;
}

.owner {
    font-size: 0.8em;
}

.content {

}

.assignedPerson {

}

.tags {
    color: gray;
    font-size: 0.7em;
}

.priority {

}

.status {

}

.menu {
    overflow: hidden;
}

.menuon {
    height: 36px;
    transition: height 0.1s ease-out;
}

.menuoff {
    height: 0;
    transition: height 0.1s ease-out;
}

.menuitem {
    float: left;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    height: 28px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border 0.2s ease;
}

.menuitem:hover {
    border: 1px solid #888;
}