.task {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom : 10px;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.task:hover {
    box-shadow: 0 0 15px #cbcbcb;
}

.date {
    float: right;
    font-size: 11px;
}

.group {
    margin-bottom: 5px;
}

.owner {
    font-size: 0.8em;
}

.content {

}

.assignedPerson {

}

.tags {
    color: gray;
    font-size: 0.7em;
}

.priority {

}

.status {

}

.menu {
    margin-top: 5px;
    display: flex;
}

.menuitem {
    margin-right: 5px;
}