.button {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.newTask {
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(90, 200, 30, 0.2);
    margin-bottom: 10px;
}

.fullWidth {
    width: 100%;
}

.button:hover {
    background-color: gray;
    color: white;
    transition: background-color  0.3s, color 0.3s;
}

.inputText {
    outline: none;
    font-size: 14px;
    margin: 0 0 5px 0;
}

.inputArea {
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    border-radius: 5px;
    padding: 8px;
    margin: 0 0 5px 0;
    resize: vertical;
}

.inputArea:active {
    outline: 0;
}