.button {
    box-sizing: border-box;
    display: block;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: inherit;
    padding: 8px;
    margin: 8px 0;
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.fullWidth {
    width: 100%;
}

.button:hover {
    background-color: gray;
    color: white;
    transition: background-color  0.3s, color 0.3s;
}

.inputArea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0;
    width: 90%;
    resize: vertical;
}