.loginForm {
    flex: 3 150px;
    padding: 0 50px;
}

.user, .pass {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

input {
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: inherit;
    padding: 8px;
    margin: 8px 0;
}
.error {
    border-radius: 5px;
    padding: 8px;
    background-color: lightpink;
    box-sizing: border-box;
    border: 1px solid red;
}