.loginForm {
    width: 500px;
    margin: 0 auto;
}

.user, .pass {

}

.info {
    padding: 10px 0;
}

input {
    box-sizing: border-box;
    display: block;    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: inherit;
    padding: 8px;
    margin: 8px 0;
    width: 100%;
}

input[type=submit] {
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

input[type=submit]:hover{
    background-color: gray;
    color: white;
    transition: background-color  0.3s, color 0.3s;
}
.error {
    border-radius: 5px;
    padding: 8px;
    background-color: lightpink;
    box-sizing: border-box;
    border: 1px solid red;
}